<!--
Author: flromero
Date: Sep-2017
-->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/angular.min.js"></script>
<script src="js/a.js"></script>

<script type="text/javascript" src="brython.js"></script> 
<script type="text/javascript" src="pyscript.js"></script>
<script type="text/pyscript" src="2.py"></script>

</head>
<body>
 <div ng-app="myApp" ng-controller="indexController">
<div class="container">
<div class="row">
    <div class="col">
	 <h1>MINERIA DATOS</h1>     
	 <ul class="nav nav-tabs">
		<li class="nav-item">
		<a ng-class="{'nav-link active': !navs.nav1,'nav-link': navs.nav1}" ng-click="tabs(1)" order="0" href="#">Principal</a>
		</li>
		<li class="nav-item">
		<a ng-class="{'nav-link active': !navs.nav2,'nav-link': navs.nav2}" href="#" ng-click="tabs(2)" order="1">App-EVA</a>
		</li>
		<li class="nav-item">
			<a ng-class="{'nav-link active': !navs.nav3,'nav-link': navs.nav3}" href="#" ng-click="tabs(3)" order="2">App-Facebook</a>
		</li>

	</ul>
	<div id="cont0" ng-hide="navs.nav1">
	 <p>La presente aplicacion, consta de 2 partes:</p>
	 <ul>
		<li>App-Facebook</li>
		<li>App-EVA</li>


  Subir un archivo: <input type="file" name="myFile"><br><br>
<button "type="button" ><a href = 'test_file.php'>Super Gŕafico</a></button>


	
	 </ul>

	</div>


	<div id="cont1" ng-hide="navs.nav2">

      <form ng-submit="eva_search()"  method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">User</label>
        <input type="text" required="true" ng-model="eva.user" class="form-control" id="user" name="user" aria-describedby="emailHelp" placeholder="Enter app_id">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" id="pass" ng-model="eva.pass" name="pass" class="form-control" id="exampleInputPassword1" placeholder="pass" required="true">
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

    <!-- Inicio Panel -->
    <div class="card">
  <div class="card-header">
    Resultados
  </div>
  <div class="card-block">
    
  
    <!-- Enca Panle -->
    
  
    
    <p>
    <label >Desde</label>
    <input type="date" ng-model="eva_from_date">
    <label>Hasta</label>
    <input type="date" ng-model="eva_to_date">
    <p>Resumen: {{eva_summ.texto}} text, {{eva_summ.video}} video, {{eva_summ.img}} img.  TOTAL: {{eva_summ.texto+eva_summ.video+eva_summ.img}}</p>

    <!-- <ul>
    <li ng-repeat="(key, value) in results | groupBy: ['type']">
      Team Type: {{key}}: {{value.length}}
    </li>
  </ul> -->


    </p>
    <table class="table">
  <thead>
      <td><b>Titulo</b></td>
      <td><b>Author</b></td>
      <td><b>Mensase</b></td>
      <td><b>Tipo</b></td>
      <td><b>Fecha</b></td>
  </thead>
  <!-- <tr ng-repeat="x in eva_results | dateRange: from_date: to_date: this"> -->
  <tr ng-repeat="x in eva_items | eva_dateRange: eva_from_date: eva_to_date: this">
    <td>{{ x.title }}</td>
    <td>{{ x.author }}</td>
    <td>{{ x.message }}</td>
    <td>{{ x.type }}</td>
    <td>{{ x.created_time | date :  "y-MM-dd" }}</td>
  </tr>
</table>
</div>
</div>




  <button "type="button" ><a href = 'test.php'>Super Gŕafico</a></button>
  <button "type="button" ><a href = 'datos.json' download="data">Descarga info</a></button>

</form>


<img src="sentence_eva.svg" onerror="this.onerror=null; this.src='sentence_full.svg'">

<!-- FIN Panel -->
  </div>
  </div>


  <!-- FIN PANLE -->
	</div>
  


	 <div id="cont2" ng-hide="navs.nav3">
    <!-- INicio Panel -->
    <div class="card">
  <div class="card-header">
    Datos de Entrada
  </div>
  <div class="card-block">
    
  
    <!-- Enca Panle -->
      <form ng-submit="search()"  method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">App ID</label>
        <input type="text" ng-model="fb.app_id" required="true" class="form-control" id="app_id" name="app_id" aria-describedby="emailHelp" placeholder="Enter app_id">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">App Secret</label>
        <input type="text" ng-model="fb.app_secret" id="app_secret" name="app_secret" class="form-control" id="exampleInputPassword1" placeholder="app_secret" required="true">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Token</label>
        <input type="text" ng-model="fb.token" id="token" name="token" class="form-control" id="exampleInputPassword1" placeholder="{token}" required="true">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">GroupId</label>
        <input type="text" ng-model="fb.group_id" id="group_id" name="group_id" class="form-control" id="exampleInputPassword1" placeholder="group_id" required="true">
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <!-- FIN Panel -->
  </div>
  </div>
  <!-- FIN PANLE -->

<!-- INicio Panel -->
    <div class="card">
  <div class="card-header">
    Resultados
  </div>
  <div class="card-block">
    
  
    <!-- Enca Panle -->
    
  
    
    <p>
    <label >Desde</label>
    <input type="date" ng-model="from_date">
    <label>Hasta</label>
    <input type="date" ng-model="to_date">
    <p>Resumen: {{summ.link}} links, {{summ.video}} videos, {{summ.photo}} photos, {{summ.comment}} comments, {{summ.status}} status, TOTAL: {{summ.link+summ.video+summ.photo+summ.comment+summ.status}}</p>

    </p>
    <table class="table">
  <thead>
      <td><b>Titulo</b></td>
      <td><b>Autor</b></td>
      <td><b>Mensaje</b></td>
      <td><b>Tipo</b></td>
      <td><b>Fecha</b></td>
  </thead>
  <tbody>
  <tr ng-repeat="x2 in results | dateRange: from_date: to_date: this">
    <td>{{ x2.title }}</td>
    <td>{{ x2.author }}</td>
    <td>{{ x2.message }}</td>
    <td>{{ x2.type }}</td>
    <td>{{ x2.created_time | date :  "y-MM-dd" }}</td>
  </tr>
</tbody>
</table>
  <button "type="button" ><a href = 'test_fb.php'>Super Gŕafico</a></button>
  <button "type="button" ><a href = 'datos_fb.json' download="data_fb_">Descarga info</a></button>
</div>
</div>

<img src="sentence_fb.svg" onerror="this.onerror=null; this.src='sentence_full.svg'">
<!-- FIN Panel -->
	</div>

  </div>

  <!-- FIN PANLE -->






    </div>



  </div>



</div>
</div>







<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/indexController.js"></script>
<script>

</script>
</body>
</html>
